.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 24px 8px;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container div mat-form-field {
  width: 250px;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-width: 1px !important;
}

.inp--padding {
  padding: 6px;
}

.send {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

.send__btn {
  width: 120px;
  height: 32px;
  background: lightgreen;
  border: 1px solid;
  border-radius: 4px;
}

.disabled {
  background: lightgray;
  color: gray;
}
